footer.footer.footer--inner
	a(href="").footer__logo
	p.footer__info Most popular spot to earn
		br
		| online by watching videos.
	ul.footer-list
		li.footer-list__item
			a(href="").footer-list__link Home
		li.footer-list__item
			a(href="").footer-list__link About us
		li.footer-list__item
			a(href="").footer-list__link Terms of service
		li.footer-list__item
			a(href="").footer-list__link Privacy policy