.header 
  .main-container.flex-wrap
    .col-auto.mr-auto
      a(href="").header__logo
    .col-auto
      .header__sign-in
        a(href="").header__sign-in-link Log In
        a(href="").header__sign-in-link.header__sign-in-link--blue Join