.header 
  .main-container.flex-wrap
    .col-auto.mr-auto
      a(href="").header__logo
    .col-auto
      a(href="").header__basket $145.00
      .header__menu
        a(href="javascript:void(0)").header__menu-btn
        .header__menu-drop
          a(href="").header__menu-link Home
          a(href="").header__menu-link Profile
          a(href="").header__menu-link Withdraw
          a(href="").header__menu-link Log Out