section.popular
	h2.popular__title
		span.popular__title-icon
		| TOP-5 last week
	ul.popular-list
		li.popular-list__item
			a(href="").popular-list__link
				span $108.82
				| lazy***@***il.com
		li.popular-list__item
			a(href="").popular-list__link
				span $55.19
				| hayj*****@***oo.com
		li.popular-list__item
			a(href="").popular-list__link
				span $49.01
				| miche****@*****il.com.br
		li.popular-list__item
			a(href="").popular-list__link
				span $44.80
				| viktorhu******@****ex.ru
		li.popular-list__item
			a(href="").popular-list__link
				span $43.77
				| p6487****@***il.com
	