section.products.mt-0
	ul.products-list
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #1
				.col-auto
					.products-list__price $0.77
			iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY").products-list__iframe
			.products-list__footer.text-center
				p.products-list__footer-info Play video to get money
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #2
				.col-auto
					.products-list__price $0.77
			iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY").products-list__iframe
			.products-list__footer.text-center
				a(href="").btn.btn--green Get money
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #2
				.col-auto
					.products-list__price $0.77
			iframe( src="https://www.youtube.com/embed/tgbNymZ7vqY").products-list__iframe
			.products-list__footer
				.progress
					p.progress__info Get money after 14 seconds
					.progress__inner
						.progress__value(style="width:80%;")
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play-y.svg")
						| Allow video
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Click “Allow”
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark Go to website
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play-y.svg")
						| Allow video
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Click “Allow”
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark Go to website
				p.products-list__loading
					span.products-list__loading-icon
					| Click “Allow” get money
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play-y.svg")
						| Allow video
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Click “Allow”
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--green Get money
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/star.svg")
						| Dating partner
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Register
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark Go to website
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/star.svg")
						| Free lottery
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Register
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark Go to website
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/star.svg")
						| Install browser
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Register 
						br
						| in browser
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark Go to website
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/star.svg")
						| Are you human?
				.col-auto
					.products-list__price $0.77
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Solve
						br
						| captcha 
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__footer
				a(href="").btn.btn--dark.mb-10 Go to website
				a(href="").btn.btn--green Get money
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/share.svg")
						| Get $1 for every friend
				.col-auto
					.products-list__price $1
			.products-list__roudmap
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/window-full.svg" alt="" width="27")
					.products-list__roudmap-name Go to website
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/touch.svg" alt="" width="33")
					.products-list__roudmap-name Solve
						br
						| captcha 
				.products-list__roudmap-item
					.products-list__roudmap-icon
						img(src="img/icons/get-money.svg" alt="" width="33")
					.products-list__roudmap-name Get 
						br
						| money
			.products-list__cont
				ul.steps
					li.steps__item
						img(src="img/icons/electric-light-bulb_1f4a1.png" alt="").steps__item-icon
						!="Make <b>YouTube</b> & <b>TikTok</b> video"
					li.steps__item
						img(src="img/icons/electric-light-bulb_1f4a1.png" alt="").steps__item-icon
						!="Post to <b>Facebook</b> & <b>Instagram</b>"
					li.steps__item
						img(src="img/icons/electric-light-bulb_1f4a1.png" alt="").steps__item-icon
						!="Send link to <b>WhatsApp</b> & <b>Viber</b>"
				.refferal
					.refferal__label Your refferal link:
					a(href="").refferal__link http://tubwin.com/?r=54228
				p You invited 0 people and earned $0
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/star.svg")
						| Are you human?
			.products-list__cont.pt-5
				p This task available after 20 hours 35 minutes
					
			
