section.products
	h2.h1 Today
	ul.products-list
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #1
				.col-auto
					.products-list__price $0.82
			a(href="").products-list__img-w
				img(src="img/pic-1.jpg" alt="").products-list__img
				.products-list__play-btn
			.products-list__footer.text-center
				a(href="").btn.btn--green Join to earn $0.82
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #2
				.col-auto
					.products-list__price $0.77
			a(href="").products-list__img-w
				img(src="img/pic-2.jpg" alt="").products-list__img
				.products-list__play-btn
			.products-list__footer.text-center
				a(href="").btn.btn--green Join to earn $0.77
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #3
				.col-auto
					.products-list__price $0.98
			a(href="").products-list__img-w
				img(src="img/pic-3.jpg" alt="").products-list__img
				.products-list__play-btn
			.products-list__footer.text-center
				a(href="").btn.btn--green Join to earn $0.98
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #4
				.col-auto
					.products-list__price $0.62
			a(href="").products-list__img-w
				img(src="img/pic-4.jpg" alt="").products-list__img
				.products-list__play-btn
			.products-list__footer.text-center
				a(href="").btn.btn--green Join to earn $0.62
		li.products-list__item
			.products-list__header
				.col-auto.mr-auto
					a(href="").products-list__name 
						span.products-list__name-icon
							img(src="css/images/play.svg")
						| Promo video #5
				.col-auto
					.products-list__price $0.49
			a(href="").products-list__img-w
				img(src="img/pic-5.jpg" alt="").products-list__img
				.products-list__play-btn
			.products-list__footer.text-center
				a(href="").btn.btn--green Join to earn $0.49