.welcome
	.welcome__inner
		h1.welcome__title Watch and earn!
		ul.welcome__list
			li.welcome__list-item 
				.welcome__list-inner Up to $7/day
			li.welcome__list-item 
				.welcome__list-inner Daily tasks
			li.welcome__list-item 
				.welcome__list-inner Invite & earn!
.bonus
	.bonus__inner $5 registration bonus! 
		!=" "
		a(href="") Join

