.btn {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    text-align: center;
    outline: 0;
    border: 0;
    border-radius: 10px;
    line-height: 1;
    padding: 13px 25px;

    &--green {
        background: #03A659;
        color: #fff;
    }

    &--blue {
        background: #097BFE;
        color: #fff;
    }

    &--dark {
        background: #585858;
        color: #fff;
    }

    &--full {
        width: 100%;
    }
}