.bonus {
    padding: 0 6px;

    &__inner {
        border: 4px dashed #03A659;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: #03A659;
        padding: 12px 15px;
    }
}

.progress {
    text-align: center;

    &__info {
        font-weight: bold;
        margin: 0 0 5px;
    }

    &__inner {
        background: #FFFFFF;
        border: 1px solid #D7D7D7;
        border-radius: 10px;
        position: relative;
        height: 16px;
    }

    &__value {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        border-radius: 10px;
        background: #03A659;
    }
}

.steps {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 5px;

        &-icon {
            width: 22px;
            margin-right: 5px;
        }
    }
}

.refferal {
    border: 4px dashed #097BFE;
    padding: 16px 18px;
    margin-top: 20px;
    margin-bottom: 20px;

    &__label {
        color: #2B2B2B;
        margin-bottom: 5px;
    }

    &__link {
        font-weight: bold;
        color: #097BFE;
    }
}