.form-row {
  margin-bottom: 18px;

  &__label {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
  }

  &__input {
    padding: 0 16px;
    width: 100%;
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    outline: 0;
    border-radius: 4px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.15px;
    color: #222;

    &::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }

  &__hint {
    font-size: 12px;
    color: #ea2929;
    display: none;
    margin-top: 5px;
  }

  &__info {
    letter-spacing: 0.4px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    line-height: 1.33;
    margin: 3px 0 0 16px;
  }

  &--error {
    .form-row__hint {
      display: block;
    }

    .form-row__input {
      border-color: #ea2929;
    }
  }
}

.radio {
  display: block;
  position: relative;
  cursor: pointer;

  &__inner {
    position: relative;
    padding-left: 33px;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.87);
    letter-spacing: 0.15px;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      transition: 0.3s all ease;
      border-radius: 100%;
    }

    &:before {
      top: 50%;
      left: 0;
      width: 20px;
      height: 20px;
      border: 2px solid #222;
      margin-top: -10px;
    }

    &:after {
      width: 10px;
      height: 10px;
      background: #000;
      left: 5px;
      top: 50%;
      margin-top: -5px;
      opacity: 0;
      transform: scale(0);
    }
  }

  &__input {
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    position: absolute;

    &:checked + .radio__inner {
      &:before {
        border-color: #5600E8;
      }

      &:after {
        background: #5600E8;
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

.radio-list-i {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 30px 0 0;
  list-style: none;

  &__item {
    margin-right: 49px;
    margin-bottom: 15px;
  }
}

.radio-list {
  padding: 0;
  margin: 17px 0 40px;
  list-style: none;

  &__item {
    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  .radio__inner {
    font-size: 20px;
  }
}