.mr-auto {
  margin-right: auto;
}

.ml-auto {
  margin-left: auto;
}

.text-center {
  text-align: center!important;
}

.text-left {
  text-align: left!important;
}

.text-right {
  text-align: right!important;
}

.mt-50 {
  margin-top: 50px!important;
}

.mt-30 {
  margin-top: 30px!important;
}

.mt-15 {
  margin-top: 15px!important;
}


.mt-10 {
  margin-top: 10px!important;
}

.mt-0 {
  margin-top: 0!important;
}

.mb-50 {
  margin-bottom: 50px!important;
}

.mb-30 {
  margin-bottom: 30px!important;
}

.mb-15 {
  margin-bottom: 15px!important;
}


.mb-10 {
  margin-bottom: 10px!important;
}

.mb-0 {
  margin-bottom: 0!important;
}

.pt-5 {
  padding-top: 5px!important;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

