*,
::before ,
::after {
  box-sizing: border-box;
}

body {
  font-size: 20px;
  min-width: 320px;
  font-family: Helvetica;
  line-height: 1.15;
  background: #fff;
  color: #000;
}

#main {
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  min-height: 100vh;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

a {
  outline: 0;
  color: inherit;
}

