.footer {
    padding: 47px 24px 24px;

    &__logo {
        width: 73px;
        height: 41px;
        background: url('#{$rootUrl}logo.svg') no-repeat center;
        background-size: contain;
        display: block;
        margin: auto;
    }

    &__info {
        text-align: center;
        margin: 15px auto 0;
    }

    &__sign-in {
        padding: 46px 0;
    }

    &--inner {
        .footer-list {
            margin-top: 67px;
        }
    }
}


.footer-list {
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__item {
        margin: 0 10px 23px;
    }

    &__link {
        color: #989898;
    }
}