.header {
  height: 74px;
  width: 100%;
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);

  &__logo {
    width: 93px;
    height: 48px;
    display: inline-block;
    vertical-align: top;
    background: url('#{$rootUrl}logo.svg') no-repeat center;
    margin: 12px 0 0 5px;
  }

  &__sign-in {
    display: inline-flex;
    flex-wrap: wrap;
    margin: 30px 29px 0 0;

    &-link {
      display: block;
      font-weight: bold;
      font-size: 20px;
      line-height: 1.15;
      color: #747474;
      text-decoration: none;
      
      &:not(:last-child) {
        margin-right: 42px;
      }

      &--blue {
        color: #097BFE;
      }
    }
  }

  &__menu {
    position: relative;
    margin: 22px 13px 0 0;
    display: inline-block;
    vertical-align: top;

    &-drop {
      position: absolute;
      top: 44px;
      right: -19px;
      background: #fff;
      box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
      padding: 24px 19px;
      min-width: 138px;
      opacity: 0;
      visibility: hidden;
      transform: translate(0,50px);
      transition:  0.3s transform ease;
      z-index: -1;
    }

    &-btn {
      width: 33px;
      height: 32px;
      background: url('#{$rootUrl}menu.svg') no-repeat center;
      background-size: contain;
      display: block;
      text-decoration: none;
      border: 0;
      outline: 0;

      &:focus {
        & + .header__menu-drop {
          opacity: 1;
          visibility: visible;
          transform: translate(0,0);
          z-index: 100;
        }
      }
    }

    &-link {
      display: block;
      text-decoration: none;
      color: #000000;
      text-align: right;
      font-weight: bold;

      &:not(:last-child) {
        margin-bottom: 29px;
      }
    }
  }

  &__basket {
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    border: 3px dashed #087DFE;
		border-radius: 10px;
		color: #097BFE;
		font-weight: bold;
		padding: 6px 19px;
    margin: 18px 16px 0 0;
  }
}