.popular {
    background: #ECECEC;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    margin-top: 30px;

    &__title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 7px 15px;
        color: #2B2B2B;
        font-size: 20px;
        margin: 0;

        &-icon {
            width: 27px;
            height: 27px;
            background: url('#{$rootUrl}crown.svg') no-repeat center;
            background-size: contain;
            margin: 0 10px 0 0;
        }
    }
}

.popular-list {
    padding: 0 15px 38px;
    margin: 30px 0 0;
    list-style: none;

    &__item {
        color: #2B2B2B;
        font-weight: bold;

        &:not(:last-child) {
            margin-bottom: 22px;
        }

        span {
            color: #097BFE;
            display: inline-block;
            vertical-align: top;
            min-width: 77px;
            margin-right: 10px;
        }
    }

    &__link {
        text-decoration: none;
    }
}