.products {
    margin: 28px 0 0;

    .h1 {
        margin: 0 0 13px;
        padding: 0 19px;
    }
}

.products-list {
    padding: 0;
    margin: 0;
    list-style: none;

    &__item {
        margin-bottom: 25px;
        background: #ECECEC;
        box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    }

    &__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 12px 15px;
    }

    &__name {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        text-decoration: none;
        font-weight: bold;
        color: #2B2B2B;

        &-play {
            height: 31px;
            width: 32px;
            display: inline-block;
            vertical-align: top;
            background: url('#{$rootUrl}play.svg') no-repeat center;
            background-size: contain;
            margin: 0 10px 0 0;
        }

        &-icon {
            width: 32px;
            display: inline-block;
            vertical-align: top;
            margin: 0 10px 0 0;

            img {
                display: block;
                width: 100%;
            }
        }
    }

    &__price {
        color: #00BA00;
        font-weight: bold;
    }

    &__img-w {
        display: block;
        text-decoration: none;
        position: relative;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__play-btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: url('#{$rootUrl}video-play.svg') no-repeat center;
        background-size: contain;
        width: 61px;
        height: 43px;
        z-index: 50;
    }

    &__footer {
        padding: 20px 15px;

        .btn {
            width: 100%;
        }

        &-info {
            margin: 10px 0;
            font-weight: bold;
        }
    }

    &__iframe {
        border: 0;
        outline: 0;
        width: 100%;
        min-height: 165px;
        display: block;

        @media(min-width: 568px) {
            min-height: 265px;
        }
    }

    &__roudmap {
        display: flex;
        flex-wrap: wrap;

        &-item {
            width: 33.3%;
            height: 100px;
            position: relative;
            padding: 5px 8px;
            
            &:after {
                content: '';
                display: block;
                position: absolute;
                z-index: 10;
                left: 100%;
                top: 0;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 50px 0 50px 12px;
            }

            &:nth-child(1) {
                background: #097BFE;

                &:after {
                    border-color: transparent transparent transparent #097BFE;
                }
            }

            &:nth-child(2) {
                background: #4B9FFF;

                &:after {
                    border-color: transparent transparent transparent #4B9FFF;
                }
            }

            &:nth-child(3) {
                background: #73B5FF;

                &:after {
                    display: none;
                }
            }
        }

        &-icon {
            height: 38px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            img {
                display: block;
                max-height: 100%;
                max-width: 100%;
                width: auto;
                height: auto;
            }
        }

        &-name {
            color: #fff;
            font-weight: bold;
            text-align: center;
            margin-top: 5px;
        }
    }

    &__loading {
        color: #585858;
        font-weight: bold;
        text-align: center;
        margin: 15px 0 0;

        &-icon {
            display: inline-block;
            vertical-align: top;
            width: 25px;
            height: 25px;
            margin-right: 10px;
            background: url('#{$rootUrl}loading.svg') no-repeat center;
            background-size: contain;
            animation: circle 2s linear infinite;
        }
    }

    &__cont {
        padding: 15px 15px 20px;

        p {
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@keyframes circle {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}