.welcome {
    min-height: 213px;
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    padding: 0;
    margin-bottom: 28px;

    &:before {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        opacity: 0.6;
        background: url('#{$rootUrl}welcome.jpg') no-repeat center;
        background-size: cover;
    }

    &__inner {
        position:  relative;
        padding: 19px 6px 3px;
        z-index: 50;
    }

    &__title {
        background: rgba(255, 255, 255, 0.7);
        padding: 2px 10px;
        line-height: 1;
        margin: 0 0 15px;
        display: inline-block;
        vertical-align: top;
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;

        &-item {
            margin-bottom: 2px;
        }

        &-inner {
            position: relative;
            color: #2B2B2B;
            font-weight: bold;
            background: rgba(255, 255, 255, 0.7);
            padding: 10px 10px 10px 49px;
            line-height: 1.1;
            display: inline-block;
            vertical-align: top;

            &:before {
                position: absolute;
                top: 50%;
                left: 10px;
                background: url('#{$rootUrl}white-heavy-check-mark_2705.png') no-repeat center;
                background-size: cover;
                width: 30px;
                height: 30px;
                margin-top: -15px;
                content: '';
                display: block;
            }
        }
    }
}
