.sign-in {
  padding-top: 3px;

  h1, .h1 {
    margin: 30px 0 14px;
    padding: 0 5px;
  }

  p {
    font-size: 15px;
    line-height: 1.1333;
    color: #000000;
    margin: 0 0 15px;
  }

  &__submit {
    margin-top: 35px;
  }

  &--login {
    h1 , .h1 {
      margin: 18px 0 20px;
    }

    .sign-in__submit {
      margin-top: 18px;
    }
  }
}