extends layout/_layout

block content
	#main
		include blocks/_header
		.sign-in.sign-in--login
			.main-container
				h1 Log in
				form(action="")
					.form-row
						input(type="email" placeholder="Email").form-row__input
					.form-row
						input(type="password" placeholder="Password").form-row__input
					a(href="").btn.btn--blue.btn--full.sign-in__submit Log in
		include blocks/_footer-2