extends layout/_layout

block content
	#main
		include blocks/_header
		.sign-in
			.bonus
				.bonus__inner $5 registration bonus! 
					!=" "
					a(href="") Join
			.main-container
				h1 Registration
				form(action="")
					.form-row.form-row--error
						input(type="text" placeholder="First name").form-row__input
						.form-row__hint Error text description
					.form-row
						input(type="text" placeholder="Last name").form-row__input
					.form-row
						input(type="text" placeholder="Birthday").form-row__input
					.form-row
						input(type="email" placeholder="Email").form-row__input
					.form-row
						input(type="password" placeholder="Password").form-row__input
					ul.radio-list-i
						li.radio-list-i__item
							label.radio
								input(type="radio" name="radio-1" checked).radio__input
								.radio__inner Male
						li.radio-list-i__item
							label.radio
								input(type="radio" name="radio-1").radio__input
								.radio__inner Female
					p.mt-15 By Creating An Account You Are Agreeing To Our 
						!=" "
						a(href="" ) Privacy Policy
						!=" And "
						a(href="") Terms Of Service.
					a(href="").btn.btn--blue.btn--full.sign-in__submit Create account
		include blocks/_footer-2