extends layout/_layout

block content
	#main
		include blocks/_header-2
		.main-container
			h1 Terms of service
			p 
				b Most popular spot to earn online by watching videos.
			p Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn online by watching videos.Most popular spot to earn 
		include blocks/_footer-2