extends layout/_layout

block content
	#main
		include blocks/_header-2
		.main-container
			h1 Withdraw
			form(action="")
				.form-row
					.form-row__label Payment method:
					ul.radio-list
						li.radio-list__item
							label.radio
								input(type="radio" checked name="radio-2").radio__input
								.radio__inner WebMoney
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner Bank Card
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner PayPal
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner AliPay
						li.radio-list__item
							label.radio
								input(type="radio" name="radio-2").radio__input
								.radio__inner Western Union
				.form-row
					.form-row__label Withdraw amount:
					input(type="text" value="100").form-row__input
					p.form-row__info Min withdraw $80
				a(href="").btn.btn--blue.btn--full.mt-15 Withdraw
		include blocks/_footer-2